:root {
    /* scene variables */
    --ambient-color: rgb(46, 11, 11);
    --widht: 1000px;
    --height: 700px;

    /* fall animation variables */
    --fall-start-top: 0;
    --fall-start-left: 0;
    --fall-start-rx: 0;
    --fall-start-ry: 0;
    --fall-start-rz: 0;
    --fall-start-s: 0.4;
    --fall-end-top: 100%;
    --fall-end-left: 100%;
    --fall-end-rx: 1turn;
    --fall-end-ry: 1turn;
    --fall-end-rz: 1turn;
    --fall-end-end: 1.0;
    --fall-duration: 10s;
}

body {
    margin: 0;
    font-family: Arial;
    background-color: var(--ambient-color);
}

#scene {
    border: 1px solid white;
    width: var(--widht);
    height: var(--height);
    background-image: url(image/forest-fall.jpg);
    background-size: cover;

   position: absolute;
   overflow: hidden;

   perspective: 300px;

}

#scene .leaf {
    width: calc( var(--widht) / 10 );
    height: calc( var(--widht) / 10 ); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;   
}

#scene .leaf-1 {
    background-image: url(image/leaf-1.png);  
}
#scene .leaf-2 {
    background-image: url(image/leaf-2.png);  
}
#scene .leaf-3 {
    background-image: url(image/leaf-3.png);  
}
#scene .leaf-4 {
    background-image: url(image/leaf-4.png);  
}
#scene .leaf-5 {
    background-image: url(image/leaf-5.png);  
}

#scene .fall {
    /* apply the animation */
    animation: fall var(--fall-duration) ease-in;   
    animation-fill-mode: forwards;
    
}

/* CSS Animations */
@keyframes fall {
    from {
        left: var(--fall-start-left);
        top: var(--fall-start-top);
        transform: rotateX(var(--fall-start-rx)) rotateY(var(--fall-start-ry))  rotateZ(var(--fall-start-rz)) scale(var(--fall-start-s));
    }
    to   {
        left: var(--fall-end-left);
        top: var(--fall-end-top);
        transform: rotateX(var(--fall-end-rx)) rotateY(var(--fall-end-ry))  rotateZ(var(--fall-end-rz)) scale(var(--fall-end-s));
    }
}

